In [2]:
import pandas as pd
import geopandas as gpd

In [5]:
# https://catalogodatos.gub.uy/dataset/horarios-omnibus-urbanos-por-parada-stm
horario_omnibus_por_paradas_ = pd.read_csv('files/uptu_pasada_variante.csv',sep=';')
horario_omnibus_por_paradas_.head()

,tipo_dia,cod_variante,frecuencia,cod_ubic_parada,ordinal,hora,dia_anterior
0,1,7929,9230,6301,1,923,N
1,1,7929,9230,6196,2,924,N
2,1,7929,9230,2315,3,925,N
3,1,7929,9230,2316,4,926,N
4,1,7929,9230,2317,5,926,N

In [7]:
# https://catalogodatos.gub.uy/dataset/transporte-colectivo-paradas-y-puntos-de-control
ubicacion_paradas_omnibus = gpd.read_file('files/v_uptu_paradas.dbf')
ubicacion_paradas_omnibus = pd.DataFrame(ubicacion_paradas_omnibus)
ubicacion_paradas_omnibus.head()

,COD_UBIC_P,DESC_LINEA,COD_VARIAN,ORDINAL,CALLE,ESQUINA,COD_CALLE1,COD_CALLE2,X,Y,geometry
0,546.0,144,883,43,CORUÃA,PURIFICACION,2187,5733,578023.60011,6.140711e+06,None
1,546.0,144,3225,45,CORUÃA,PURIFICACION,2187,5733,578023.60011,6.140711e+06,None
2,547.0,144,883,44,CORUÃA,SAN ANTONIO,2187,6279,577944.25345,6.140829e+06,None
3,547.0,144,3225,46,CORUÃA,SAN ANTONIO,2187,6279,577944.25345,6.140829e+06,None
4,548.0,144,888,20,CORUÃA,SAN ANTONIO,2187,6279,577926.50589,6.140845e+06,None