In [13]:
import pandas as pd
import geopandas as gpd

In [14]:
# https://catalogodatos.gub.uy/dataset/horarios-omnibus-urbanos-por-parada-stm
horario_omnibus_por_paradas_ = pd.read_csv('files/uptu_pasada_variante.csv',sep=';')
horario_omnibus_por_paradas_.head()

,tipo_dia,cod_variante,frecuencia,cod_ubic_parada,ordinal,hora,dia_anterior
0,1,7929,9230,6301,1,923,N
1,1,7929,9230,6196,2,924,N
2,1,7929,9230,2315,3,925,N
3,1,7929,9230,2316,4,926,N
4,1,7929,9230,2317,5,926,N

In [15]:
# https://catalogodatos.gub.uy/dataset/transporte-colectivo-paradas-y-puntos-de-control
ubicacion_paradas_omnibus = gpd.read_file('files/v_uptu_paradas.dbf')
ubicacion_paradas_omnibus = pd.DataFrame(ubicacion_paradas_omnibus)
ubicacion_paradas_omnibus.head()

,COD_UBIC_P,DESC_LINEA,COD_VARIAN,ORDINAL,CALLE,ESQUINA,COD_CALLE1,COD_CALLE2,X,Y,geometry
0,546.0,144,883,43,CORUÃA,PURIFICACION,2187,5733,578023.60011,6.140711e+06,None
1,546.0,144,3225,45,CORUÃA,PURIFICACION,2187,5733,578023.60011,6.140711e+06,None
2,547.0,144,883,44,CORUÃA,SAN ANTONIO,2187,6279,577944.25345,6.140829e+06,None
3,547.0,144,3225,46,CORUÃA,SAN ANTONIO,2187,6279,577944.25345,6.140829e+06,None
4,548.0,144,888,20,CORUÃA,SAN ANTONIO,2187,6279,577926.50589,6.140845e+06,None

In [16]:
# https://catalogodatos.gub.uy/dataset/transporte-colectivo-paradas-y-puntos-de-control
recorridos_omnibus = gpd.read_file('files/v_uptu_lsv.dbf')
recorridos_omnibus = pd.DataFrame(recorridos_omnibus)
recorridos_omnibus.head()

,GID,COD_LINEA,DESC_LINEA,ORDINAL_SU,COD_SUBLIN,DESC_SUBLI,COD_VARIAN,DESC_VARIA,geometry
0,16009404.0,0,LINEA CERO,1,0,SUBLINEA CERO,0,None,None
1,16009406.0,1,402,1,1,CIUDAD VIEJA - MALVIN,8,A,None
2,16009407.0,2,404,1,2,CJO.J.AMÃRICA - PCIO.DE LA LUZ,14,B,None
3,16009408.0,2,404,1,2,CJO.J.AMÃRICA - PCIO.DE LA LUZ,20,A,None
4,16009409.0,3,405,1,3,PEÃAROL - PARQUE RODÃ,24,B,None

In [17]:
# https://catalogodatos.gub.uy/dataset/transporte-colectivo-paradas-y-puntos-de-control
ubicacion_puntos_control = gpd.read_file('files/v_uptu_controles.dbf')
ubicacion_puntos_control = pd.DataFrame(ubicacion_puntos_control)
ubicacion_puntos_control.head()

,COD_UBIC_C,DESC_LINEA,COD_VARIAN,ORDINAL,DESC_UBIC_,COD_CALLE1,COD_CALLE2,X,Y,geometry
0,1,402,1,10,MALVIN,7569,240,581831.105002,6.138254e+06,None
1,1,G,3401,2,MALVIN,7569,240,581831.105002,6.138254e+06,None
2,1,G,3402,11,MALVIN,7569,240,581831.105002,6.138254e+06,None
3,1,2,7565,2,MALVIN,7569,240,581831.105002,6.138254e+06,None
4,1,2,7566,8,MALVIN,7569,240,581831.105002,6.138254e+06,None

In [18]:
# https://catalogodatos.gub.uy/dataset/lineas-omnibus-origen-y-destino
origen_destino_lineas = gpd.read_file('files/v_uptu_lsv_destinos.dbf')
origen_destino_lineas = pd.DataFrame(origen_destino_lineas)
origen_destino_lineas.head()

,GID,COD_LINEA,DESC_LINEA,ORDINAL_SU,COD_SUBLIN,DESC_SUBLI,COD_VARIAN,DESC_VARIA,COD_VAR_01,COD_ORIGEN,DESC_ORIGE,COD_DESTIN,DESC_DESTI,geometry
0,16009406.0,1,402,1,1,CIUDAD VIEJA - MALVIN,8,A,NaN,19,PLAYA MALVÃN,23,CIUDAD VIEJA,None
1,16009407.0,2,404,1,2,CJO.J.AMÃRICA - PCIO.DE LA LUZ,14,B,NaN,69,PALACIO DE LA LUZ,47,COMPLEJO JUANA DE AMÃRICA,None
2,16009408.0,2,404,1,2,CJO.J.AMÃRICA - PCIO.DE LA LUZ,20,A,NaN,47,COMPLEJO JUANA DE AMÃRICA,69,PALACIO DE LA LUZ,None
3,16009409.0,3,405,1,3,PEÃAROL - PARQUE RODÃ,24,B,NaN,56,PARQUE RODÃ,74,PEÃAROL,None
4,16009410.0,3,405,2,246,GRUTA DE LOURDES - PARQUE RODO,28,B,NaN,56,PARQUE RODÃ,5,GRUTA DE LOURDES,None

In [21]:
# https://catalogodatos.gub.uy/dataset/lineas-omnibus-origen-y-destino
recorridos_variantes_no_maximales = gpd.read_file('files/uptu_variante_no_maximal.dbf')
recorridos_variantes_no_maximales = pd.DataFrame(recorridos_variantes_no_maximales)
recorridos_variantes_no_maximales.head()

,GID,COD_VARIAN,COD_VAR_01,DESC_VARIA,COD_UBIC_P,COD_UBI_01,ORDINAL_OR,ORDINAL_DE,geometry
0,46204183.0,5,1,B,6092.0,3252.0,50,73,None
1,46204184.0,6,1,B,3520.0,3252.0,30,73,None
2,46204185.0,7,1,B,4041.0,2912.0,1,66,None
3,46204186.0,15,14,B,3922.0,3207.0,1,39,None
4,46204187.0,17,14,B,6091.0,2474.0,40,47,None